#row {
    margin: 0 auto;
    width: 900px;
}

.container-fluid {
    border-top: 3px solid #0F35F7;
}

.table td {
    text-align: center;
 }

 .table th {
    text-align: center;
 }

 .col-xs-12 {
    margin-top:15px;
 }

.custom {
    width: 300px !important;
}


