
.header {
    height: 100px;
    background: #c9cccf;
}

.newrow {
    width: 150px;
}


.container {
    margin-top: 50px;
}

#submit {
    margin-top: 20px;
}

.detailheader{
    margin-bottom: 50px;
    background: #f5f5f5;
    border: 1px solid darkgray;
    border-radius: 5px;
    padding-bottom: 50px;
}

.btncustom {
    float: left;
}

.custompanel {
    height: 160px !important;
}
